body {
  width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 12px;
  corlor: #fff;
}
div.title {
  color: #0099ff;
  background-color: #e3efdf;
  margin: center;
  text-align: center;
  width: 800px;
  height: 60px;
}
div.sideleft {
  width: 300px;
  height: 400px;
  float: left;
}
div.stream {
  width: 500px;
  height: 350px;
  float: right;

}

div.Intruction {
  float: right;
  width: 300px;
  height: 150px;
  overflow-y: scroll;
  font-size: 12px;
  border-left: groove;
  border-bottom: groove;
}
div.UI {
 
  float: right;
  width: 300px;
  height: 220px;
  overflow-y: scroll;
  font-size: 12px;
  border-left: groove;
  border-bottom: groove;
}


b{
  color:red;
}

h4 {
  color:blue;
  font-size: 14px;
}

::webkit-input-placeholder {
  font-size: 8px;
}

#btnSignUp {
  padding: 0px 10px;
  float: center;
  margin-left: 35px;
 font-size: 12px;

}

input [type ="text"] {
  font-size: 12px;
}

#btnCall {
  padding: 0px 10px;
  float: center;
  margin-left: 33px;
 font-size: 12px;
}

#btnUP {
  padding-top: 25px;
  padding-left: 26px;
  padding-right: 30px;
  padding-bottom: 25px; 
  float: center;
  margin-left: 86px;
 font-size: 12px;
}

#btnDOWN {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  float: center;
  margin-left: 87px;
 font-size: 12px;
}

#btnLEFT {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; 
  float: center;
  margin-left: 10px;
 font-size: 12px;
}

#btnRIGHT {
  padding: 20px 20px 20px 20px;
  float: center;
  margin-left: 0px;
 font-size: 12px;
}

#btnSTOP {
  padding: 20px 20px 20px 20px;
  float: center;
  margin-left: 0px;
 font-size: 12px;
}

.textbox{
  height:8px;
}

.final {
  color: black;
  padding-right: 3px; 
}
.interim {
  color: gray;
}
#results {
  font-size: 14px;
  font-weight: bold;
  width: 300px;
/*  left: 250px;
  top:  350px;*/
  border: 1px solid #ddd;
  text-align: left;
  min-height: 15px;
  float: right;
  padding-right: 20 px;
}
#button{
  border: 0;
  background-color: transparent;
  float: left;
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-left: 12px;
}

#select_language{
  float: right;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}